@model Gruppenverteilung.Models.DataOutputModel

@{
    ViewData["Title"] = "DataOutputView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataOutputView</h2>
@Html.LabelFor(m => m.GruppenName, Model.GruppenName)

