@model Gruppenverteilung.Models.DataOutputModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataOutputView</h2>
@Html.LabelFor(m => m.GruppenName, Model.GruppenName)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
