@model Sorting_Algorithm.Models.DataInputModel
@using Sorting_Algorithm.Models;

@{
    ViewBag.Title = "DataInputView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataInputView</h2>
@using (Html.BeginForm("SubmitData","Home",FormMethod.Post))
{
    @Html.TextBoxFor(n=>n.Name, new { @placeholder = "Enter Name" })
    <input type="text" name="Alter" />
    <select name="Geschlecht">
        <option value="1">Männlich</option>
        <option value="2">Weiblich</option>
    </select>
    <select name="Studiengang">
        <option value="1">MCD</option>
        <option value="2">Informatik</option>
        <option value="3">Elektrotechnik</option>
        <option value="4">Wirtschaftsinformatik</option>
    </select>
    <input type="submit" formaction="SubmitData" value="Anmelden" />
}


