@model Gruppenverteilung.Models.DataInputModel
@using Gruppenverteilung.Code;
@{
    ViewData["Title"] = "Dateneingabe";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<form asp-controller="Home" asp-action="SubmitData" method="post">

    <div class="container main">
        <div class="row">
            <div class="col s12 m10 l6 content">
                @if (Model.EmailIsDuplicate)
                {
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="card-panel blue-grey lighten-2">
                                <span class="black-text">
                                   Die Email wurde schon verwendet, falls du sie nicht verwendet hast melde dich bitte vorne bei einem der Tutoren!
                                    <hr />
                                    <a class="waves-effect waves-light btn modal-trigger" href="#mailmodal">Gruppe vergessen</a> 
                                </span>
                            </div>
                        </div>
                    </div>
                }
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Fachbereich 05</span>
                        <p>Elektro- & Informationstechnik</p>
                        <br />
                        <img id="logo" src="~/images/logo.png">
                        <br /><br />
                        <h6>Anmeldung zur Gruppeneinteilung</h6>
                        <form action="#nope">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input asp-for="Vorname" name="vorname" id="vorname" class="validate" required>
                                    <label for="vorname">Vorname</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input asp-for="Name" name="name" id="name" class="validate" required>
                                    <label for="name">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="Email" name="email" id="email" class="validate" required type="email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="Alter" id="age" min=16 max=99 class="validate" required>
                                    <label for="age">Alter</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select asp-for="Geschlecht" asp-items="Html.GetEnumSelectList<Geschlecht>()" class="form-control"></select>
                                    <label>Geschlecht</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select asp-for="Studiengang" asp-items="Html.GetEnumSelectList<Studiengang>()" class="form-control"></select>
                                    <label>Studiengang</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">
                                        Absenden
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger" href="#mailmodal">Gruppe vergessen</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-controller="Home" asp-action="GroupLookup" method="post">
    <!-- Modal Structure -->
    <div id="mailmodal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Gebe deine Email-Adresse ein:</h4>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input asp-for="Email" name="email" id="email" class="validate" required type="email">
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Absenden
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.modal').modal();
    });
</script>


