@model Gruppenverteilung.Models.DataInputModel
@using Gruppenverteilung.Code;
@{
    ViewData["Title"] = "Dateneingabe";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<form asp-controller="Home" asp-action="SubmitData" method="post">
    <div class="container main">
        <div class="row">
            <div class="col s12 m10 l6 content">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Fachbereich 05</span>
                        <p>Elektro- & Informationstechnik</p>
                        <br />
                        <img id="logo" src="~/images/logo.png">
                        <br /><br />
                        <h6>Anmeldung zur Gruppeneinteilung</h6>
                        <form action="#nope">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input asp-for="Name" name="name" id="name" class="validate" required>
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input asp-for="Vorname" name="vorname" id="vorname" class="validate" required>
                                    <label for="vorname">Vorname</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="Alter" id="age" min=16 max=99 class="validate" required>
                                    <label for="age">Alter</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select asp-for="Geschlecht" asp-items="Html.GetEnumSelectList<Geschlecht>()" class="form-control"></select>
                                    <label>Geschlecht</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select asp-for="Studiengang" asp-items="Html.GetEnumSelectList<Studiengang>()" class="form-control"></select>
                                    <label>Studiengang</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">
                                        Absenden
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>


