@model AdministrationModel
@using Gruppenverteilung.Code;

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(x => GlobalVariables.CurrentSelectedGroupInGroupEditView.Name)
                @Html.EditorFor(x => GlobalVariables.CurrentSelectedGroupInGroupEditView.Name)
                @Html.LabelFor(x => GlobalVariables.CurrentSelectedGroupInGroupEditView.Room)
                @Html.EditorFor(x => GlobalVariables.CurrentSelectedGroupInGroupEditView.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</table>
