@model GroupCreationModel
@using Gruppenverteilung.Code;

<div>
    <div class="col-lg-12">
        @*<input class="btn btn-primary" type="submit" formaction="SerializeGroups" value="Gruppen und Tutoren Speichern" />*@

        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.LabelFor(x => x.Room)
        @Html.EditorFor(x => x.Room)
        <a class="btn btn-default" onclick="AddGroup()">
            <p>New Group</p>
        </a>

        @*<input class="btn btn-primary" type="submit" formaction="DeleteSelectedGroup" value="Delete Selected Group" />*@
    </div>


</div>