@model AdministrationModel
@using Gruppenverteilung.Code;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<select id="CurrentSelectedGroup2" class="col form-control">
    @for (int i = 0; i < Model.groups.Count; i++)
    {
        <option value="@Model.groups[i].Name"> @Model.groups[i].Name </option>
    }
</select>

<div id="GroupEditView" class="form-group">
    @Html.Partial("_EditGroupView", Model);
</div>

<a onclick="test()">ahahahahahhaha</a>

<script>
    $("#CurrentSelectedGroup2").change(function (event) {
        var url = "/Administration/EditGroupUpdate";
        $.post(url, { groupename: $(this).val() }, function (res) {
            $("#GroupEditView").html(res);
        });
    });

    function test() {
        alert(@GlobalVariables.CurrentSelectedGroupInGroupEditView.Name);
    }
</script>