@model Gruppenverteilung.Models.AdministrationModel
@using Gruppenverteilung.Code;

@{
    ViewData["Title"] = "AdministrationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdministrationView</h2>

