
@{
    ViewData["Title"] = "AdministrationEditView";
}

<h2>Zuweisen</h2>

<div class="row">
    <ul class="nav nav-tabs">
        <li><a a asp-area="" asp-controller="Administration" asp-action="AdministrationView">Übersicht</a></li>
        <li><a asp-area="" asp-controller="Administration" asp-action="AdministrationImportView">Daten einlesen</a></li>
        <li class="active"><a >Zuweisen</a></li>
    </ul>
</div>
