@model Gruppenverteilung.Models.AdministrationModel
@using Gruppenverteilung.Code;

@{
    ViewData["Title"] = "AdministrationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#stats" id="stats-tab">Übersicht</a></li>
    <li><a data-toggle="tab" href="#assign" id="assign-tab">Tutoren zuweisen</a></li>
    <li><a data-toggle="tab" href="#edit" id="edit-tab">Bearbeite Grupppen</a></li>
    <li><a data-toggle="tab" href="#import" id="import-tab">JSON-Import</a></li>
    <li><a data-toggle="tab" href="#beamer" id="beamer-tab">Beamer-Ansicht</a></li>
    <li><a data-toggle="tab" href="#print" id="print-tab">Gruppen Drucken</a></li>
</ul>

<div class="tab-content">
    <div id="stats" class="tab-pane fade in active">
        <h3>Gruppen Statistiken</h3>
        <div class="wrapper">@Html.Partial("_StatsView", this.Model)</div>
    </div>
    <div id="assign" class="tab-pane fade">
        <h3>Zuweisen</h3>
        @Html.Partial("_AssignView", this.Model)
    </div>
    <div id="edit" class="tab-pane fade">
        <h3>Bearbeite Gruppen</h3>
        <!--<partial name="_CreateNewView" model="new GroupCreationModel()" />
        <partial name="_SelectEditGroupView" model="this.Model" />-->
        @Html.Partial("_EditGroupView", Model);
    </div>
    <div id="import" class="tab-pane fade">
        <h3>Import</h3>
        <partial name="_ImportView" model="new GroupCreationModel()" />
    </div>
    <div id="beamer" class="tab-pane fade">
        <h3> Settings ??? </h3>
        <a target="_new" class="btn btn-default" href="Administration/Beamer"> Beamer-Ansicht </a>
    </div>
    <div id="print" class="tab-pane fade">
        <h3>Gruppen Drucken</h3>
        @Html.Partial("_PrintView", Model)
    </div>
</div>

@*<h2>Übersicht</h2>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Übersicht</a></li>
            <li><a asp-area="" asp-controller="Administration" asp-action="AdministrationImportView">Daten einlesen</a></li>
            <li><a asp-area="" asp-controller="Administration" asp-action="AdministrationEditView">Zuweisen</a></li>
        </ul>
    </div>*@

<div class="row">


</div>
<script>
    function updateGroupProperties() {
        var url = "/Administration/UpdateGroupProperties";
        var gn = $('#gnInput').val();
        var gr = $('#grInput').val();
        updateCurrentGroupSelectItem();
        $.post(url, { groupName: gn, groupRoom: gr }, function (res) {
            $("#edit").html(res);
        });
        $("CurrentSelectedGroupInEditGroupView").val(gn);
    }

    jQuery('a[target^="_new"]').click(function () {
        return openWindow(this.href);
    });


    function openWindow(url) {
            var width = window.innerWidth * 0.66;
            // define the height in
            var height = width * window.innerHeight / window.innerWidth;
            // Ratio the hight to the width as the user screen ratio
            window.open(url, 'newwindow', 'width=' + width + ', height=' + height + ', top=' + ((window.innerHeight - height) / 2) + ', left=' + ((window.innerWidth - width) / 2));
        return false;
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
