<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ .Name }}</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Major</th>
        <th>Gender</th>
        <th>Counted</th>
    </tr>
    </thead>
    <tbody>
    {{range .Members}}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Surname }}</td>
            <td>{{ .Age }}</td>
            <td>{{ .Major }}</td>
            <td>{{ .Gender }}</td>
            <td><input type="checkbox"></td>
        </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>
