<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gruppenzuweisung</title>
</head>
<body>
<p>Hallo {{.Person.Name}}, Du bist in der Gruppe {{.Group.Name}}.</p>
</body>
</html>
