@model Sorting_Algorithm.Models.DataOutputModel
@using Sorting_Algorithm.Models;
@using Sorting_Algorithm.Code;

@{
    ViewBag.Title = "DataOutputView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataOutputView</h2>

@Html.LabelFor(m => m.GruppenName, Model.GruppenName)

