/*Created by Titus*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url("../images/background.jpg") no-repeat center fixed;
}

.main {
    padding-top: 25px;
}

.content {
    margin: 0 auto;
    display: block;
    float: none !important;
    text-align: center;
}

    .content > .card > .card-content > img#logo {
        width: 128px;
    }

    .content > .card > .card-content > h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .content > .card > .card-content > h6 {
        margin-top: 0;
    }

    .content > .card > .card-content > form > .row {
        margin-bottom: 0;
    }
